@model ProdutoModel

@{
    ViewData["Title"] = "Adicionar Produto";
}

<div class="container">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-dark btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
</div>

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Adicionar Produto</h3></div>

                <div class="card-body">
                    <form asp-controller="Admin" asp-action="AddProduto" method="post" enctype="multipart/form-data">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" asp-for="NomeProduto" />
                            <label for="NomeProduto">Nome do Produto</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.NomeProduto) </span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" asp-for="Descricao" />
                            <label for="Descricao">Descrição</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.Descricao) </span>
                        </div>
                        <div class="form-floating mb-3">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" asp-for="Categoria" />
                                <label for="Categoria">Categoria</label>
                                <span class="text-danger"> @Html.ValidationMessageFor(x => x.Categoria) </span>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="number" asp-for="QuantidadeEstoque" />
                                <label for="QuantidadeEstoque">Quantidade em Estoque</label>
                                <span class="text-danger"> @Html.ValidationMessageFor(x => x.QuantidadeEstoque) </span>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="number" asp-for="Preco" />
                                <label for="Preco">Preço</label>
                                <span class="text-danger"> @Html.ValidationMessageFor(x => x.Preco) </span>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="file" name="file" asp-for="ImagemUrl" />
                                <label for="ImagemUrl">Escolha uma Imagem</label>
                                <span class="text-danger"> @Html.ValidationMessageFor(x => x.ImagemUrl) </span>
                            </div>
                        </div>

                        <div class=" mt-4 mb-0">
                            <button type="submit" class="btn btn-dark d-block w-100 mb-1">Adicionar Produto</button>
                            <a class="btn btn-dark d-block w-100" asp-controller="Admin" asp-action="Index">Voltar</a>

                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>
</div>