@model List<CarrinhoModel>

@{
    ViewData["Title"] = "Carrinho";
}

<div class="container p-2">
    <h1 class="mb-4 mt-5">Carrinho</h1>
</div>

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @foreach (var produto in Model)
        {
            <div class="col mb-5">
                <div class="card h-100">
                    <a class="text-decoration-none" asp-controller="Home" asp-action="Produto" asp-route-id="@produto.ProdutoId">

                        <img class="card-img-top" src="~/image/@produto.Produto.ImagemUrl" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">@produto.Produto.NomeProduto</h5>
                                R$@produto.Produto.Preco
                            </div>
                        </div>
                    </a>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="container d-flex justify-content-center gap-2">
                            <form asp-controller="Favorito" asp-action="AddFavorito" method="post" class="flex-grow-1">
                                <input type="hidden" name="id" value="@produto.ProdutoId" />
                                <input type="hidden" name="id" value="@produto.UsuarioId" />
                                <button type="submit" class="btn btn-outline-dark mt-auto d-block w-100"><i class="bi bi-heart"></i></button>
                            </form>
                            <form asp-controller="Carrinho" asp-action="RemoverCarrinho" method="post" class="flex-grow-1">
                                <input type="hidden" name="id" value="@produto.ProdutoId" />
                                <input type="hidden" name="id" value="@produto.UsuarioId" />
                                <button type="submit" class="btn btn-dark mt-auto d-block w-100">Remover <i class="bi bi-cart3"></i></button>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        }
    </div>
</div>
