@model List<PedidoModel>
@{
    ViewData["Title"] = "Meus Pedidos";
}

<div class="container my-5">
    <h2 class="mb-5">Meus Pedidos</h2>

    @if (Model != null && Model.Any())
    {
        <div class="container card mb-5 p-0">
            <div class="card-header d-flex justify-content-between align-items-center fw-bold">
                <div>
                    Lista Geral de Pedidos
                </div>
                
            </div>

            <div class="card-body table-responsive-sm">
                <table id="table-produtos" class="table table-bordered pt-2">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Data</th>
                            <th>Endereço</th>
                            <th>Status</th>
                            <th>Pagamento</th>
                            <th>Método</th>
                            <th>Total</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pedido in Model)
                        {
                            if (pedido == null || pedido.PedidoId == 0 || pedido.Pagamento == null || pedido.ItensDoPedido == null) continue;

                            var modalId = "modalPedido" + pedido.PedidoId;
                            var modalStatusId = "modalStatus" + pedido.PedidoId;

                            <tr>
                                <td>#@pedido.PedidoId</td>
                                <td>@pedido.DataDoPedido.ToString("dd/MM/yyyy")</td>
                                <td>@pedido.Endereco</td>
                                <td>@pedido.StatusDoPedido</td>
                                <td>@pedido.Pagamento.StatusPagamento</td>
                                <td>@pedido.Pagamento.MetodoPagamento</td>
                                <td>R$ @pedido.Pagamento.Valor.ToString("F2")</td>
                                <td>
                                    <button class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#@modalId"><i class="bi bi-list text-dark fs-5"></i></button>
                                    @if (pedido.StatusDoPedido != PedidoEnum.Cancelado)
                                    {
                                        <button class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="#@modalStatusId"><i class="bi bi-pencil-square text-dark fs-5"></i></button>
                                    }
                                </td>
                            </tr>

                            <!-- Modal Produtos -->
                            <div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="modalPedidoLabel@pedido.PedidoId" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalPedidoLabel@pedido.PedidoId">Itens do Pedido #@pedido.PedidoId</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <ul class="list-group">
                                                @foreach (var item in pedido.ItensDoPedido)
                                                {
                                                    <li class="list-group-item d-flex align-items-center">
                                                        <img src="@Url.Content(item.Produto.ImagemUrl)" alt="@item.Produto.NomeProduto" class="img-thumbnail" style="width: 140px; height: 120px; margin-right: 15px; object-fit: cover;">
                                                        <div class="d-flex flex-column">
                                                            <span><strong>@item.Produto.NomeProduto</strong></span>
                                                            <span>R$ @item.Produto.Preco.ToString("F2")</span>
                                                        </div>
                                                        <div class="ms-auto text-end">
                                                            <p><strong>Qtd:</strong> @item.QuantidadeItem</p>
                                                            <p><strong>Preço Unitário:</strong> R$ @item.PrecoUnidadeItem</p>
                                                            <p><strong>Total:</strong> R$ @(item.PrecoUnidadeItem * item.QuantidadeItem)</p>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal Atualizar Status -->
                            <div class="modal fade" id="@modalStatusId" tabindex="-1" aria-labelledby="modalStatusLabel@pedido.PedidoId" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalStatusLabel@pedido.PedidoId">Atualizar Status do Pedido #@pedido.PedidoId</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form asp-controller="Pedido" asp-action="AtualizarStatusDoPedido" method="post">
                                            <div class="modal-body">
                                                <input type="hidden" name="pedidoId" value="@pedido.PedidoId" />
                                                <div class="mb-3">
                                                    <label for="status" class="form-label">Selecione o Status:</label>
                                                    <select name="status" id="status" class="form-select">
                                                        <option value="@PedidoEnum.Pendente">@PedidoEnum.Pendente</option>
                                                        <option value="@PedidoEnum.EmPreparacao">@PedidoEnum.EmPreparacao</option>
                                                        <option value="@PedidoEnum.Enviado">@PedidoEnum.Enviado</option>
                                                        <option value="@PedidoEnum.Concluido">@PedidoEnum.Concluido</option>
                                                        <option value="@PedidoEnum.Cancelado">@PedidoEnum.Cancelado</option>
                                                    </select>
                                                    <span class="text-danger">Ao cancelar pedido, não é possível desfazer.</span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                <button type="submit" class="btn btn-dark">Atualizar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>Nenhum pedido encontrado.</p>
    }
</div>

@section Scripts {
    <script src="~/js/pedidos-pagamentos.js"></script>
}
