@using DigitalStore.Enum
@model List<ProdutoModel>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand">DigitalStore</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" asp-controller="Home" asp-action="Index" aria-current="page">Home</a></li>
                @foreach (var categoria in Model)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Categoria" asp-route-categoria="@categoria.Categoria">@categoria.Categoria</a>
                    </li>
                }
            </ul>


            @if (ViewBag.Sessao == null)
            {
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-lg-1">

                    <li class="nav-item">
                        <a role="button" class="nav-link" asp-controller="Usuario" asp-action="CriarUsuario">
                            Criar Conta
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Login" asp-action="Index">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Suporte">
                            Suporte
                        </a>
                    </li>
                </ul>

            }
            else if ((PerfilEnum)ViewBag.UsuarioPerfil == PerfilEnum.Cliente)
            {
                <ul class="navbar-nav align-items-center ms-auto mb-2 mb-lg-0 me-lg-1">
                    <li class="nav-item">
                        <form class="nav-link">
                            <button class="btn btn-outline-dark" type="submit" asp-controller="Favorito" asp-action="Index">
                                <i class="bi-heart-fill me-1"></i>
                                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                            </button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form class="nav-link">
                            <button class="btn btn-outline-dark" type="submit" asp-controller="Carrinho" asp-action="Index">
                                <i class="bi-cart-fill me-1"></i>
                                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                            </button>
                        </form>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Minha Conta</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="EditarUsuario" asp-route-Id="@ViewBag.UsuarioId">Editar Dados</a></li>
                            <li><a class="dropdown-item" asp-controller="AlterarSenha" asp-action="Index" asp-route-Id="@ViewBag.UsuarioId">Alterar Senha</a></li>
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="ApagarUsuario" asp-route-Id="@ViewBag.UsuarioId">Apagar Conta</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Suporte">Suporte</a></li>
                            <li><a class="dropdown-item" asp-controller="Login" asp-action="Sair">Sair</a></li>
                        </ul>
                    </li>
                </ul>

            }
            else
            {
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-lg-1">

                    <li class="nav-item">
                        <a role="button" class="nav-link" asp-controller="Admin" asp-action="Index">Gerenciamento de Produtos</a>

                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Minha Conta</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="EditarUsuario" asp-route-Id="@ViewBag.UsuarioId">Editar Dados</a></li>
                            <li><a class="dropdown-item" asp-controller="AlterarSenha" asp-action="Index">Alterar Senha</a></li>
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="ApagarUsuario" asp-route-Id="@ViewBag.UsuarioId">Apagar Conta</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Suporte">Suporte</a></li>
                            <li><a class="dropdown-item" asp-controller="Login" asp-action="Sair">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            }
        </div>

    </div>
</nav>

