@model UsuarioModel

@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Criar Conta";
}

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Criar Conta</h3></div>

                <div class="card-body">
                    <form id="formCriarConta" asp-controller="Login" asp-action="CriarUsuario" method="post">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" asp-for="Nome" />
                            <label for="Nome">Nome</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.Nome) </span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="email" asp-for="Email" />
                            <label for="Email">Email</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.Email) </span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="date" asp-for="DataNascimento" />
                            <label for="DataNascimento">Data de Nascimento</label>
                            <span class="text-danger">@Html.ValidationMessageFor(x => x.DataNascimento)</span>
                        </div>

                        <div class="mb-3">
                            <select asp-for="Genero" asp-items="Html.GetEnumSelectList<GeneroEnum>()" class="form-select">
                                <option value="">Selecione o Gênero</option>
                            </select>
                            <span class="text-danger">@Html.ValidationMessageFor(x => x.Genero)</span>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="Senha" asp-for="Senha" type="password" />
                            <label for="Senha">Senha</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.Senha) </span>

                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="ConfirmarSenha" type="password" />
                            <label for="ConfirmarSenha">Confirmar Senha</label>
                            <span class="text-danger" id="confirmarSenhaError"></span>
                        </div>

                        <div class="mt-4 mb-0">
                            <div class="d-grid"><button class="btn btn-dark btn-block" type="submit">Criar Conta</button></div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a asp-controller="Login" asp-action="Login">Já tem conta? Faça o login.</a></div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/criar-usuario.js"></script>
}
