@model ProdutoModel

@{
    ViewData["Title"] = "Adicionar Produto";
}

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Adicionar Produto</h3></div>


                <div class="card-body">
                    <form asp-controller="Produto" asp-action="AddProduto" method="post" enctype="multipart/form-data">
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" asp-for="NomeProduto" id="NomeProduto" />
                            <label for="NomeProduto">Nome do Produto</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.NomeProduto) </span>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" asp-for="Descricao" id="Descricao" />
                            <label for="Descricao">Descrição</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.Descricao) </span>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" asp-for="Categoria" id="Categoria" />
                            <label for="Categoria">Categoria</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.Categoria) </span>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" asp-for="QuantidadeEstoque" id="QuantidadeEstoque" />
                            <label for="QuantidadeEstoque">Quantidade em Estoque</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.QuantidadeEstoque) </span>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" asp-for="Preco" id="Preco" />
                            <label for="Preco">Preço</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.Preco) </span>
                        </div>

                        <div class="mb-3">
                            <input class="form-control" id="ImagemFile" type="file" name="imagem"  />
                        </div>

                        <div class="text-center">
                            <label for="ImagemFile">
                                <img id="img" style="max-width:300px; max-height:300px" />
                            </label>
                        </div>

                        <div class="mt-4 mb-0">
                            <button type="submit" class="btn btn-dark d-block w-100 mb-1">Adicionar Produto</button>
                            <a class="btn btn-dark d-block w-100" asp-controller="PerfilAdmin" asp-action="GerenciamentoProdutos">Voltar</a>
                        </div>

                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("ImagemFile").addEventListener("change", function (e) {
        var reader = new FileReader();
        reader.onload = function (event) {
            document.getElementById("img").src = event.target.result;
        };
        reader.readAsDataURL(e.target.files[0]);
    });
</script>
