@model ProdutoModel

@{
    ViewData["Title"] = "Atualizar Produto";
}

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Atualizar Produto</h3></div>

                <div class="card-body">
                    <form asp-controller="Produto" asp-action="AtualizarProduto" method="post">

                        <input type="hidden" asp-for="ProdutoId" />

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" asp-for="NomeProduto" />
                            <label for="NomeProduto">Nome do Produto</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.NomeProduto) </span>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" asp-for="Descricao" />
                            <label for="Descricao">Descrição</label>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.Descricao) </span>
                        </div>
                        <div class=" mb-3">
                            <select class="form-select" asp-for="Categoria">
                                <option value="">Selecione uma Categoria</option>
                                @foreach (var categoria in ViewBag.Categorias)
                                {
                                    <option value="@categoria.Categoria">@categoria.Categoria</option>
                                }
                            </select>
                            <span class="text-danger"> @Html.ValidationMessageFor(x => x.Categoria) </span>
                        </div>

                        <div class="form-floating mb-3">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="number" asp-for="QuantidadeEstoque" />
                                <label for="QuantidadeEstoque">Quantidade em Estoque</label>
                                <span class="text-danger"> @Html.ValidationMessageFor(x => x.QuantidadeEstoque) </span>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="number" asp-for="Preco" />
                                <label for="Preco">Preço</label>
                                <span class="text-danger"> @Html.ValidationMessageFor(x => x.Preco) </span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <!-- Input para carregar nova imagem -->
                            <input class="form-control" id="ImagemFile" type="file" name="novaImagem" accept="image/*" />
                        </div>

                        <p>@Model.ImagemUrl</p>

                        <div class="text-center">
                            <!-- Container da imagem -->
                            <label for="ImagemFile">
                                <img id="imgPreview"
                                     src="@Model.ImagemUrl"
                                     style="max-width: 300px; max-height: 300px;" />
                            </label>
                        </div>


                        <div class=" mt-4 mb-0">
                            <button type="submit" class="btn btn-dark d-block w-100 mb-1">Atualizar Produto</button>
                            <a class="btn btn-dark d-block w-100" asp-controller="PerfilAdmin" asp-action="GerenciamentoProdutos">Voltar</a>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('ImagemFile').addEventListener('change', function (event) {
    const imgPreview = document.getElementById('imgPreview'); // Elemento da imagem
    const file = event.target.files[0]; // Arquivo selecionado

    if (file) {
        // Cria um URL temporário para exibir a imagem selecionada
        const reader = new FileReader();

        reader.onload = function (e) {
            imgPreview.src = e.target.result; // Atualiza a src da imagem
        };

        reader.readAsDataURL(file); // Lê o arquivo como URL base64
    }
});

</script>
