@model List<ProdutoModel>

@{
    ViewData["Title"] = @ViewBag.CategoriaSelecionada;
}

<div class="container my-5 pb-lg-5">
    <h3 class="mb-5 text-center">@ViewBag.CategoriaSelecionada</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var produto in Model)
        {
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="@produto.ImagemUrl" class="card-img-top" alt="@produto.NomeProduto">
                    <div class="card-body text-center">
                        <h5 class="card-title">@produto.NomeProduto</h5>
                        <p class="card-text text-muted">@produto.Descricao</p>
                        <p class="fw-bold text-primary">R$ @produto.Preco</p>

                            <!-- Botão de Favoritos -->
                            @if (ViewBag.Sessao == null)
                            {
                                <div class="card-footer p-2 pt-0 border-top-0 bg-transparent  justify-content-center">

                                    <div class="container d-flex justify-content-center gap-2">
                                        <a class="btn btn-outline-dark mt-auto d-block w-100" asp-controller="Login" asp-action="Index"><i class="bi bi-heart"></i> </a>
                                        <a class="btn btn-dark d-block mt-auto w-100" asp-controller="Login" asp-action="Index"><i class="bi bi-cart3"></i> </a>

                                    </div>
                                </div>

                            }
                            else if (ViewBag.Sessao != null && ViewBag.PerfilUsuario == true)
                            {
                                <form asp-controller="Favorito" asp-action="BotaoFavorito" method="post">
                                    <input type="hidden" name="id" value="@produto.ProdutoId" />
                                    <input type="hidden" name="id" value="@ViewBag.UsuarioId" />
                                    
                                    @if (ViewBag.FavoritosDoUsuario != null && ViewBag.FavoritosDoUsuario.Contains(produto.ProdutoId))
                                    {
                                        <!-- Se o produto estiver nos favoritos -->
                                        <button type="submit" class="btn btn-outline-danger d-block w-100">
                                            <i class="bi bi-heart-fill"></i> <!-- Ícone coração preenchido -->
                                        </button>
                                    }
                                    else
                                    {
                                        <!-- Se o produto não estiver nos favoritos -->
                                        <button type="submit" class="btn btn-outline-dark d-block w-100">
                                            <i class="bi bi-heart"></i> Adicionar<!-- Ícone coração vazio -->
                                        </button>
                                    }
                                </form>

                                <!-- Botão de Adicionar ao Carrinho -->
                                <form asp-controller="Carrinho" asp-action="BotaoCarrinho" method="post">
                                    <input type="hidden" name="id" value="@produto.ProdutoId" />
                                    <input type="hidden" name="id" value="@ViewBag.UsuarioId" />
                                       @if (ViewBag.CarrinhoDoUsuario != null && ViewBag.CarrinhoDoUsuario.Contains(produto.ProdutoId))
                                    {
                                        <button type="submit" class="btn btn-dark d-block w-100">
                                            <i class="bi bi-cart3 text-danger"></i>
                                        </button>
                                    }
                                    else
                                    {
                                         <button type="submit" class="btn btn-dark d-block w-100">
                                            <i class="bi bi-cart3"></i> Adicionar
                                        </button>
                                    }
                                </form>
                            }
                        </div>
                    </div>
                </div>
        }
    </div>
</div>

