@model HomeViewModel

@{
    ViewData["Title"] = "Loja"; // Define o título da página
}

<!-- Seção de banner com frase e formulário de pesquisa -->
<div class="container-fluid d-flex align-items-end justify-content-center py-5 mb-5"
     style="background-image: url('@Url.Content(Model?.SiteDados?.Banner)'); background-size: cover; background-position: center; height: 400px;">
    <div class="text-center text-light w-75">
        <!-- Exibe a frase no banner -->
        <h1 class="mb-4" style="text-shadow: 2px 2px 4px black, 4px 4px 10px rgba(0,0,0,0.8);">
            @Model?.SiteDados?.Frase
        </h1>


        <!-- Formulário de pesquisa -->
        <form id="searchForm" class="d-flex position-relative" role="search">
            <div class="input-group justify-content-center">
                <!-- Campo de pesquisa -->
                <input type="search" class="form-control rounded-start bg-light w-75" id="searchInput" name="termo" placeholder="Procure aqui..." required>
                <button type="button" class="btn btn-dark border-0 rounded-end">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <!-- Dropdown para exibir os resultados da pesquisa -->
            <div id="searchDropdown" class="dropdown-menu w-100" style="display: none; position: absolute; top: 100%; left: 0;"></div>
        </form>
    </div>
</div>

<!-- Seção de últimas novidades -->
<div class="container pb-2">
    <a class="text-decoration-none text-dark" asp-controller="Home" asp-action="UltimasNovidades">
        <h3 class="pb-4 fw-bold">ÚLTIMAS NOVIDADES</h3>
    </a>
    <div class="row gx-4 gx-lg-4 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @if (Model?.UltimasNovidades != null && Model.UltimasNovidades.Any())
        {
            <!-- Exibe as 4 últimas novidades -->
            foreach (var produto in Model.UltimasNovidades.Take(4))
            {
                <div class="col mb-5">
                    <div class="card h-100 shadow text-center">
                        <!-- Link para a página de produto -->
                        <a class="text-decoration-none" asp-controller="Home" asp-action="Produto" asp-route-id="@produto.ProdutoId" target="_blank">
                            <div class="position-relative">
                                <!-- Imagem do produto -->
                                <img class="card-img-top" src="@Url.Content(produto.ImagemUrl)" alt="@produto.NomeProduto" style="object-fit: cover; height: 200px;" />
                                <!-- Badge indicando novo produto -->
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    NEW
                                </span>
                            </div>
                            <div class="card-body">
                                <h5 class="fw-bold text-dark">@produto.NomeProduto</h5>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>

<!-- Seção de produtos -->
<div class="container pb-5">
    <a class="text-decoration-none text-dark mb-5 text-start py-3" asp-controller="Home" asp-action="TodosOsProdutos">
        <h3 class="fw-bold text-uppercase text-start">Nossos Produtos</h3>
    </a>

    <!-- Grid de produtos -->
    <div class="row row-cols-1 row-cols-md-3 g-5 pt-5">
        @if (Model?.Produtos != null && Model.Produtos.Any())
        {
            <!-- Exibe os 9 primeiros produtos -->
            foreach (var produto in @Model.Produtos.Take(12))
            {
                <div class="col">
                    <div class="card h-100 border-0 rounded-4 shadow position-relative">
                        <!-- Link para a página de produto individual -->
                        <a class="text-decoration-none" asp-controller="Home" asp-action="Produto" asp-route-id="@produto.ProdutoId" target="_blank">
                            <img src="@Url.Content(produto.ImagemUrl)" class="card-img-top" alt="@produto.NomeProduto" style="height: 250px; object-fit: cover; border-radius: 4px;" />
                            <div class="card-body text-dark">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title fw-bold text-start mb-0">@produto.NomeProduto</h5>
                                    <p class="fw-bold text-dark fs-5 mb-0 text-end">R$ @produto.Preco</p>
                                </div>
                                <p class="card-text text-muted text-start" style="font-size: 0.9rem;">@produto.Descricao</p>
                            </div>
                        </a>

                        <!-- Botões para adicionar aos favoritos e carrinho -->
                        <div>

                            @if (!Model.UsuarioLogado)
                            {
                                <div class="position-absolute top-0 end-0 m-1 bg-light border rounded-3 p-2">
                                    <div class="d-flex flex-column gap-2">
                                        <!-- Caso o usuário não esteja logado -->
                                        <a class="btn bg-transparent border-0 p-0" asp-controller="Login" asp-action="Login">
                                            <i class="bi bi-heart fs-5"></i>
                                        </a>
                                        <div class="border-top mt-1"></div>
                                        <a class="btn bg-transparent border-0 p-0" asp-controller="Login" asp-action="Login">
                                            <i class="bi bi-cart3 fs-5"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                            else if (Model.UsuarioLogado && Model.PerfilUsuarioCliente)
                            {
                                <div class="position-absolute top-0 end-0 m-1 bg-light border rounded-3 p-2">
                                    <div class="d-flex flex-column gap-2">
                                        <!-- Caso o usuário esteja logado e seja cliente -->
                                        <div class="d-flex flex-column gap-2">
                                            <button type="button"
                                                    class="btn bg-transparent border-0 p-0 favorito-btn @(Model.FavoritosDoUsuario != null && Model.FavoritosDoUsuario.Select(x => x.ProdutoId).Contains(produto.ProdutoId) ? "text-danger" : "text-dark")"
                                                    data-produto-id="@produto.ProdutoId">
                                                <i class="bi @(Model.FavoritosDoUsuario != null && Model.FavoritosDoUsuario.Select(x => x.ProdutoId).Contains(produto.ProdutoId) ? "bi-heart-fill fs-5" : "bi-heart fs-5")"></i>
                                            </button>

                                            <div class="border-top mt-1"></div>

                                            <button type="button"
                                                    class="btn bg-transparent border-0 p-0 carrinho-btn @(Model.CarrinhoDoUsuario != null && Model.CarrinhoDoUsuario.Select(x => x.ProdutoId).Contains(produto.ProdutoId) ? "text-danger" : "text-dark")"
                                                    data-produto-id="@produto.ProdutoId">
                                                <i class="bi @(Model.CarrinhoDoUsuario != null && Model.CarrinhoDoUsuario.Select(x => x.ProdutoId).Contains(produto.ProdutoId) ? "bi-cart-fill fs-5" : "bi-cart-plus fs-5")"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<!-- Seção de inscrição na newsletter -->
<div class="container-fluid d-flex align-items-center justify-content-center mt-3 bg-light px-5 py-5" style="min-height: 350px;">
    <div class="row w-100 w-md-75">
        <div class="col-12 text-center">
            <h3 class="mb-3 fw-bolder">Inscreva-se na nossa Newsletter!</h3>
            <p class="mb-3 text-muted">
                Esteja sempre atualizado e aproveite promoções exclusivas diretamente no seu e-mail.
            </p>
            <div class="input-group mb-3">
                <input type="email" id="emailInput" class="form-control w-75" placeholder="Digite seu e-mail" required>
                <button id="enviarNewsletter" class="btn btn-dark">
                    <i class="bi bi-send"></i>
                </button>
                <div id="newsletterMessage"></div>
            </div>
            <div class="form-check d-flex justify-content-center">
                <input type="checkbox" class="form-check-input" id="authorizeCheck" required>
                <label class="form-check-label ms-1" for="authorizeCheck">
                    Eu autorizo o envio de e-mails promocionais.
                </label>
            </div>
        </div>
    </div>
</div>

<!-- Seção de scripts -->
@section Scripts
{
    <script src="~/js/barra-de-pesquisa.js"></script>
    <script src="~/js/envio-newsletter.js"></script>
}
