@model HomeViewModel

@{
    ViewData["Title"] = "Produto";
}

<!-- Início da seção de exibição do produto -->
<div class="container pt-5">
    <section class="py-1">
        <div class="container px-4 px-lg-5 my-3">
            <div class="row gx-3 gx-lg-4 align-items-start">

                <!-- Coluna de imagem do produto -->
                <div class="col-md-5">
                    <img class="card-img-top mb-3" src="@Url.Content(Model.Produto.ImagemUrl)" alt="Produto"
                         style="max-width: 100%; height: auto; border-radius: 8px;" />
                </div>

                <!-- Coluna de informações do produto -->
                <div class="col-md-3">
                    <h2 class="fw-bold fs-4">@Model.Produto.NomeProduto</h2>
                    <div class="mb-2">
                        <h5 class="fw-semibold">R$ @Model.Produto.Preco</h5>
                        <p class="text-muted" style="font-size: 0.9rem;">em 10x sem juros no cartão</p>
                    </div>
                    <p class="text-muted" style="font-size: 0.9rem; line-height: 1.3;">@Model.Produto.Descricao</p>

                    <!-- Controle de quantidade do produto no carrinho -->
                    <div class="mt-5 pt-3 d-flex align-items-center ms-2">
                        <input type="hidden" name="produtoId" value="@Model.Produto.ProdutoId" />

                        <!-- Contêiner para botões e campo de quantidade -->
                        <div class="input-group border-1 border-secondary" style="max-width: 150px;">
                            <div class="border border-secondary rounded">

                                <!-- Botão para diminuir a quantidade -->
                                <button type="button" class="bg-transparent border-0 btnDiminuir" data-produto-id="@Model.Produto.ProdutoId">
                                    <i class="bi bi-dash-circle text-secondary"></i>
                                </button>

                                <!-- Campo de quantidade (readonly) -->
                                <input type="text" name="Quantidade" class="text-center border-0"
                                       value="@(Model.CarrinhoDoUsuario.FirstOrDefault(x => x.ProdutoId == Model.Produto.ProdutoId)?.Quantidade ?? 0)"
                                       style="font-size: 1rem; width: 60px;" readonly
                                       data-produto-id="@Model.Produto.ProdutoId" />

                                <!-- Botão para aumentar a quantidade -->
                                <button type="button" class="bg-transparent border-0 btnAumentar" data-produto-id="@Model.Produto.ProdutoId">
                                    <i class="bi bi-plus-circle text-secondary"></i>
                                </button>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- Coluna com opções de interação para o usuário logado -->
                <div class="col-md-2 d-flex flex-column align-items-end justify-content-start">
                    <div class="d-flex flex-column bg-light gap-2 p-3">

                        @if (!Model.UsuarioLogado)
                        {
                            <!-- Se o usuário não estiver logado -->
                            <a class="btn bg-transparent border-0 p-0 mb-2" asp-controller="Login" asp-action="Login">
                                <i class="bi bi-heart"></i>
                            </a>
                            <div class="border-top mt-1"></div>
                            <a class="btn bg-transparent border-0 p-0" asp-controller="Login" asp-action="Login">
                                <i class="bi bi-cart3"></i>
                            </a>
                        }
                        else if (Model.UsuarioLogado && Model.PerfilUsuarioCliente)
                        {
                            <!-- Se o usuário estiver logado como cliente -->
                            <button type="button"
                                    class="btn bg-transparent border-0 p-0 favorito-btn @(Model.FavoritosDoUsuario != null && Model.FavoritosDoUsuario.Select(x => x.ProdutoId).Contains(Model.Produto.ProdutoId) ? "text-danger" : "text-dark")">
                                <i class="bi @(Model.FavoritosDoUsuario != null && Model.FavoritosDoUsuario.Select(x => x.ProdutoId).Contains(Model.Produto.ProdutoId) ? "bi-heart-fill fs-5" : "bi-heart fs-5")"></i>
                            </button>
                            <div class="border-top mt-1"></div>
                            <button type="button"
                                    class="btn bg-transparent border-0 p-0 mt-2 carrinho-btn @(Model.CarrinhoDoUsuario != null && Model.CarrinhoDoUsuario.Select(x => x.ProdutoId).Contains(Model.Produto.ProdutoId) ? "text-danger" : "text-dark")">
                                <i class="bi @(Model.CarrinhoDoUsuario != null && Model.CarrinhoDoUsuario.Select(x => x.ProdutoId).Contains(Model.Produto.ProdutoId) ? "bi-cart-fill fs-5" : "bi-cart-plus fs-5")"></i>
                            </button>
                        }
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<!-- Seção de itens novidades -->
<section class="py-1">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Últimas Novidades</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var produto in Model.Produtos.Take(5))
            {
                <div class="col mb-5">
                    <div class="card h-100 border-0 rounded-4 shadow position-relative">
                        <!-- Link para página de produto -->
                        <a class="text-decoration-none" asp-controller="Home" asp-action="Produto" asp-route-id="@produto.ProdutoId">
                            <img src="@Url.Content(produto.ImagemUrl)" class="card-img-top" alt="@produto.NomeProduto" style="height: 250px; object-fit: cover; border-radius: 4px;" />
                            <div class="card-body text-dark">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title fw-bold text-start mb-0">@produto.NomeProduto</h5>
                                    <p class="fw-bold text-dark fs-5 mb-0 text-end">R$ @produto.Preco</p>
                                </div>
                                <p class="card-text text-muted text-start" style="font-size: 0.9rem;">@produto.Descricao</p>
                            </div>
                        </a>

                        <!-- Botões de favoritar e adicionar ao carrinho -->
                        <div class="position-absolute top-0 end-0 m-1 bg-light border rounded-3 p-2">
                            <div class="d-flex flex-column gap-2">
                                @if (!Model.UsuarioLogado)
                                {
                                    <!-- Se o usuário não estiver logado -->
                                    <a class="btn bg-transparent border-0 p-0" asp-controller="Login" asp-action="Login">
                                        <i class="bi bi-heart fs-5"></i>
                                    </a>
                                    <div class="border-top mt-1"></div>
                                    <a class="btn bg-transparent border-0 p-0" asp-controller="Login" asp-action="Login">
                                        <i class="bi bi-cart3 fs-5"></i>
                                    </a>
                                }
                                else if (Model.UsuarioLogado && Model.PerfilUsuarioCliente)
                                {
                                    <!-- Se o usuário estiver logado como cliente -->
                                    <div class="d-flex flex-column gap-2">
                                        <button type="button"
                                                class="btn bg-transparent border-0 p-0 favorito-btn @(Model.FavoritosDoUsuario != null && Model.FavoritosDoUsuario.Select(x => x.ProdutoId).Contains(produto.ProdutoId) ? "text-danger" : "text-dark")"
                                                data-produto-id="@produto.ProdutoId">
                                            <i class="bi @(Model.FavoritosDoUsuario != null && Model.FavoritosDoUsuario.Select(x => x.ProdutoId).Contains(produto.ProdutoId) ? "bi-heart-fill fs-5" : "bi-heart fs-5")"></i>
                                        </button>

                                        <div class="border-top mt-1"></div>

                                        <button type="button"
                                                class="btn bg-transparent border-0 p-0 carrinho-btn @(Model.CarrinhoDoUsuario != null && Model.CarrinhoDoUsuario.Select(x => x.ProdutoId).Contains(produto.ProdutoId) ? "text-danger" : "text-dark")"
                                                data-produto-id="@produto.ProdutoId">
                                            <i class="bi @(Model.CarrinhoDoUsuario != null && Model.CarrinhoDoUsuario.Select(x => x.ProdutoId).Contains(produto.ProdutoId) ? "bi-cart-fill fs-5" : "bi-cart-plus fs-5")"></i>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Scripts específicos -->
@section Scripts {
    <script src="~/js/atualizar-quantidade-carrinho.js"></script>
}
