@model List<ProdutoModel>

@{
    ViewData["Title"] = "Últimas Novidades";
}


<div class="container p-2">
    <h1 class="mb-4 mt-5">Últimas Novidades</h1>


    <div class="container-fluid px-5">
        <div class="row gx-4 gx-lg-3 row-cols-2 row-cols-md-3 row-cols-xl-4">
            @foreach (var produto in Model)
            {
                <div class="col mb-5">
                    <div class="card w-100">
                        <img class="card-img-top img-fluid" src="@Url.Content("~/" + produto.ImagemUrl)" alt="@produto.NomeProduto" style=" height:200px; object-fit: cover; object-position: center;" />
                        <div class="card-body p-2">
                            <div>
                                <p>@produto.NomeProduto</p>
                                <h6 class="fw-bold"> R$@produto.Preco no Pix</h6>
                            </div>
                        </div>
                        @if (ViewBag.Sessao == null)
                        {
                            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent  justify-content-center">

                                <div class="container d-flex justify-content-center gap-2">
                                    <a class="btn btn-outline-dark mt-auto d-block w-100" asp-controller="Login" asp-action="Index"><i class="bi bi-heart"></i></a>
                                    <a class="btn btn-dark mt-auto d-block w-100" asp-controller="Login" asp-action="Index"><i class="bi bi-cart3"></i></a>

                                </div>
                            </div>

                        }
                        else if (ViewBag.Sessao != null && ViewBag.Perfil == true)
                        {
                            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent  justify-content-center">

                                <div class="container d-flex justify-content-center gap-2">
                                    <form asp-controller="Favorito" asp-action="AddFavorito" method="post" class="flex-grow-1">
                                        <input type="hidden" name="id" value="@produto.ProdutoId" />
                                        <input type="hidden" name="id" value="@ViewBag.UsuarioId" />

                                        <button type="submit" class="btn btn-outline-dark mt-auto d-block w-100"><i class="bi bi-heart"></i></button>
                                    </form>
                                    <form asp-controller="Carrinho" asp-action="AddCarrinho" method="post" class="flex-grow-1">
                                        <input type="hidden" name="id" value="@produto.ProdutoId" />
                                        <input type="hidden" name="id" value="@ViewBag.UsuarioId" />

                                        <button type="submit" class="btn btn-dark mt-auto d-block w-100"><i class="bi bi-cart3"></i></button>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>


                </div>
            }



        </div>


    </div>




</div>
