@model List<FavoritosModel>

@{
    ViewData["Title"] = "Favoritos";
}

<div class="container my-xl-5 pb-md-5">
    <h4 class="mb-4">Meus Favoritos</h4>

    <!-- Produto Favoritado -->
    <div class="card mb-3 shadow-sm">
        <div class="row g-0">
            @foreach (var produto in Model)
            {
                <div class="col-md-3">
                    <img src="@produto.Produto.ImagemUrl" class="img-fluid rounded-start" alt="Produto">
                </div>
                <!-- Informações do Produto -->
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">@produto.Produto.NomeProduto</h5>
                        <p class="card-text text-muted">@produto.Produto.Descricao</p>
                        <p class="card-text fw-bold text-primary">R$ @produto.Produto.Preco</p>
                        <form asp-controller="Favorito" asp-action="RemoverFavorito" method="post" class="flex-grow-1">
                            <input type="hidden" name="produtoId" value="@produto.Produto.ProdutoId" />
                            <input type="hidden" name="usuarioId" value="@produto.Usuario.UsuarioId" />
                            <button type="submit" class="btn btn-outline-danger btn-sm mt-2">
                                <i class="bi bi-heart-fill"></i> Remover dos Favoritos
                            </button>
                        </form>
                    </div>
                </div>
                <!-- Botão de Adicionar ao Carrinho -->
                <div class="col-md-3 d-flex align-items-center justify-content-center">
                    <form asp-controller="Carrinho" asp-action="AddCarrinho" method="post" class="flex-grow-1">
                        <input type="hidden" name="produtoId" value="@produto.Produto.ProdutoId" />
                        <input type="hidden" name="usuarioId" value="@produto.Usuario.UsuarioId" /> 
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="bi bi-cart"></i> Adicionar ao Carrinho
                        </button>
                    </form>
                </div>

                <div class="text-center my-3">
                    <hr class="w-75 mx-auto border-2 border-secondary">
                </div>
            }
        </div>

    </div>
    <!-- Fim do Produto Favoritado -->


</div>